#title {
    text-align: center;
    margin-bottom: 64px;
}

.scorebox {
    background-color: darkslategray;
    color: white;
    display: inline-block;
    text-align: center;
    width: 160px;
}

#player-scorebox {
    float: left;
}

#computer-scorebox {
    float: right;
}

#selection-box
{
    display: block;
    background-color: blue;
    margin: 0 auto;
    margin-top: 64px;
    width: 320px;
    height: 160px;
    text-align: center;
    position: relative;
}

button {
    width: 96px;
    height: 96px;
    display: inline-block;
    margin-top: 48px;
    transition: all 0.2s;
}

button:hover:not(.selected) {
    transform: translateY(-8px);
}

.selected
{
    transform: translateY(-32px);
}

#results-text
{
    text-align: center;
    height: 4em;
}
